tr, th, td {
border:1px solid black;
background-color: white;
}

table{
border:1px solid black;
margin-left:auto;
margin-right:auto;
background-color: white;
}

body {text-align: center;}

h1, h2, h3{text-align: center;}

.failure{ color: red; }
.success{ color: green; }
